export DEVICE=mps
export PATH="/opt/homebrew/bin:$PATH"
source .venv/bin/activate
export LIBTORCH_USE_PYTORCH=1
export DYLD_LIBRARY_PATH="$(find .venv -type d -path '*/torch/lib' 2>/dev/null)"

# export BOARD=19
# export CONV_FILTER=256
# export KOMI=6.5
# export MCTS_SIM=1600
# export RES_BLOCK=20
export BATCH=$((1 << 11))
export BOARD=9
export CONV_FILTER=64
export C_PUCT=1.5
export EVAL_GAME=400
export EVAL_THRESHOLD=0.55
export GAME_THREAD=$(($(python3 -c "import os; print(os.cpu_count())") << 3))
export HISTORY=8
export INITIAL_LR=0.001
export KOMI=7
export L2_REGULARIZATION=0.0001
export LR_MILESTONES="[10, 20, 30]"
export MCTS_BATCH=8
export MCTS_SIM=256
export RESIGN=0.95
export RES_BLOCK=10
